.details-root {
    background: #29282b;
    color: #fff;
    height: 100%;
    padding-bottom: 75px;
}

.go-back-icon {
    animation: slide-right 1.2s ease-in-out;
}

@keyframes slide-right {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0%);
    }
}

.go-back-icon:hover {
    cursor: pointer;
    background: rgb(11, 226, 226);
    transition: background 0.5s ease-in-out;
}

.details-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.album-image {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.album-image img {
    height: 200px;
    width: 200px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.8);
}

.album-details {
    width: 100%;
    text-align: center;
}

.album-details .ad-title {
    padding: 2px;
}

.album-details .ad-artist {
    font-size: 12px;
    font-style: italic;
}

.album-details .ad-more-info {
    font-size: 11px;
    padding: 5px;
    /* font-style: italic; */
}

.album-details .ad-icons {
    text-align: center;
}

.ad-icons {
    padding: 6px;
}

.ad-icons .heart {
    animation: rotate360 0.5s ease-in-out;
}

@keyframes rotate360 {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.album-song-list {
    margin: 10px 0px;
}


/* Album List CSS Starts  */

.album-list-root {
    /* border: 1px solid aqua; */
    padding: 7px 0px;
    width: 100%;
    border-bottom: 0.5px solid rgb(58, 57, 57);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.list-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.list-cont .lc-index {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.list-cont .lc-det {
    width: 80%;
    cursor: pointer;
    /* border: 1px solid yellow; */
}

.lc-det .lc-artist {
    font-size: 12px;
    font-style: italic;
    color: #c5c5c5;
}

.lc-more-options:hover {
    color: rgb(11, 226, 226);
    transition: color 0.5s ease-in-out;
    cursor: pointer;
}


/* Album list CSS Ends / */